@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --max-width: 640px;
    --max-height: 1136px;

    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Merriweather", serif;

    --clr-orange: #f68209;  
    --clr-grey: #737373;
    --clr-lightgrey: #abaaaa;
    --clr-error: #d72525;
}

/* Reset */
body {
    margin: 0;
    font-family: var(--ff-primary);
}

p, h1,h2,h3,h4,h5 {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
select {
    font: inherit;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
}

label {
    display: block;
}

/* Utilities */
.separator {
    height: 1px;
    width: 100%;
    background-color: lightgrey
}

/* Class Styles */
.container {
    padding: 1.5em;
    max-width: var(--max-width);
    margin: auto;
}

.title {
    margin-block: 1em;
    color: var(--clr-orange);
    font-weight: 900;
    text-align: center;
}

.subtitle {
    font-family: var(--ff-secondary);
    color: var(--clr-grey);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1em;
}

.main-description {
    color: var(--clr-grey);
    font-weight: 500;
    margin-bottom: 3em;
}

.input-container {
    margin-bottom: 1.5em;
}

.error {
    color: var(--clr-error);
    font-style: italic;
    font-size: 0.75rem;
    margin-top: 0.5em;
}

.name-label,
.bday-label,
.email-label {
    color: var(--clr-grey);
    font-weight: 500;
    margin-bottom: 0.5em;
}

.name-input,
.day-input,
.month-input,
.year-input,
.email-input {
    border: 2px solid var(--clr-lightgrey);
    border-radius: 0.5em;
    padding: 0.5em 0.6em;
}

.birthday-inputs > input {
    width: 50px
}

.birthday-inputs > .year-input {
    width: 100px
}

.birthday-inputs {
    display: flex;
    align-self: center;
    gap: 1em;
}

.name-input {
    width: 100%;
}

.email-input {
    width: 100%;
}

.day-input {
    flex-grow: 1;
}

.month-input {
    flex-grow: 1;
}

.year-input {
    flex-grow: 2;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin-bottom: 1em;
}

.checkbox-label {
    color: var(--clr-grey);
    font-weight: 500;
}

.submit-btn {
    background: var(--clr-orange);
    border-radius: 1.5rem;
    padding: 0.8rem 2rem;
    width: 100%;
    color: white;
    font-weight: 500;
    align-self: center;
    margin-bottom: 2em;
}

.footer {
    margin-top: 3em;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    font-weight: 500;
}